@page "/motherboards"

<section id="">
    <div class="container">
        <p>Текущее время: @CurrentTime</p>
        <p>Текущая дата: @CurrentDate</p>

        <h1>Материнские платы</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Model</th>
                    <th scope="col">Socket</th>
                    <th scope="col">Type of RAM</th>
                    <th scope="col">Connection Interface</th>
                    <th scope="col">Memory Interface</th>
                    <th scope="col">Form factor</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var motherboard in result)
                {
                    <tr>
                        <th scope="row">@motherboard.MotherboardId</th>
                        <td>@motherboard.Model</td>
                        <td>@motherboard.Socket</td>
                        <td>@motherboard.Ramtype</td>
                        <td>@motherboard.ConnectionInterface</td>
                        <td>@motherboard.MemoryInterface</td>
                        <td>@motherboard.MotherboardFornFactor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@code {
    public class Motherboard
    {
        public int MotherboardId { get; set; }

        public string? Model { get; set; }

        public string? Socket { get; set; }

        public string? Ramtype { get; set; }

        public string? ConnectionInterface { get; set; }

        public string? MemoryInterface { get; set; }

        public string? MotherboardFornFactor { get; set; }
    }

    public Motherboard[] result = new Motherboard[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://khakimov-web-api1.onrender.com/");

        result = await client.GetFromJsonAsync<Motherboard[]>("api/Motherboard");

        return;
    }
}
